    <script src="/_assets/js/admin.js"></script>

    <script>
    $(document).ready(function(){
      Vussion.init({
        isAdmin: true
      });
    })
    </script>

    
    <div id="admin" class="">
      <div class="global-header-purple row">
        <header>
        <div class="col-sm-4">
          <h1><img src="/_assets/images/logo.jpg" /></h1>
          </div>
          <div class="col-sm-8">
            <h3>Preview</h3>
          </div>
        </header>
        </div>

        <div class="row">
          <div class="col-md-4 sidebar">
              <h4>Select Module</h4>

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Module Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" name="current-section">
                {{#each modules}}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{id}}">{{name}}</a></li>
                {{/each}}
                </ul>
              </div>

              
              <div id="section-options">
              </div>

             

              <div class="module-list col-sm-12">
              
              {{!-- if list --}}
              <script id="video-list" type="text/x-handlebars-template">
                <div class="content">
                <h4>Options</h4>
                 <p>Press 'eascape' on your keyboard to reset video playback</p>
                  <hr>
                  <ul id="video-selector" class="">
                  \{{#each video}}
                    <li>
                    <div class="details col-sm-8">
                      <p class="title">\{{name}}</p>
                      <a class="play-button" href="\{{file}}" title="play">Play <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                    </div>
                    <div class="thumbs">
                      <a href="\{{file}}" title="play"><img src="http://placehold.it/88x54.jpg" alt="#"></a>
                    </div>
                  \{{/each}}
                  </ul>
              </script>

              <div class="video-listing">
              </div>

              </div>
          </div>

          <div id="preview-window" class="col-sm-8 well">
            
            <div class="sharp-iphone col-sm-4">
              <h3>Dr. Sharp's Device</h3>
                 <section id="loading" class="active">
              <div class="col-md-12 text-center">
                  
                  <img src="/_assets/images/loading-icon.gif" />
                  <p><strong>to start</strong> select an option on the left</p>
              </div>
            </section>

            <section id="slider" class="slider-wrapper">
            </section>

            <section id="html" class="html-wrapper">
            </section>


            <section id="video" class="video-wrapper">
            </section>


            </div>
            <div class="ipads col-sm-4">
              <h3>iPads</h3>
                 <section id="loading" class="active">
              <div class="col-md-12 text-center">
                  
                  <img src="/_assets/images/loading-icon.gif" />
                  <p><strong>to start</strong> select an option on the left</p>
              </div>
            </section>

            <section id="slider" class="slider-wrapper">
            </section>

            <section id="html" class="html-wrapper">
            </section>


            <section id="video" class="video-wrapper">
            </section>


            </div>
            <div class="iphone col-sm-4">
              <h3>Terry's Device</h3>
                 <section id="loading" class="active">
              <div class="col-md-12 text-center">
                  
                  <img src="/_assets/images/loading-icon.gif" />
                  <p><strong>to start</strong> select an option on the left</p>
              </div>
            </section>

            <section id="slider" class="slider-wrapper">
            </section>

            <section id="html" class="html-wrapper">
            </section>


            <section id="video" class="video-wrapper">
            </section>


            </div>
          </div>

      </div>
  </div>



<script id="slide-template" type="text/x-handlebars-template">
  <div class="content">
    <div id="slick-slider">    
    \{{#each slides}}
      <div><img src="\{{#assetPath}}\{{media}}\{{/assetPath}}"><h3><!-- {{caption}} --></h3></div>
    \{{/each}}
    </div>
  </div>
</script> 

<script id="html-template-walk-in" type="text/x-handlebars-template">
  <div class="content">\{{name}}
    <h3>Big Disruptive Facts sliders</h3>
  </div>
</script>

<script id="html-athena-story" type="text/x-handlebars-template">
<div class="content">
  <img src="data/Athena-Story/athena-story-ipad-sit.jpg" />
<div>
</script>

<script id="html-template-basic" type="text/x-handlebars-template">
<div class="content">
  \{{{html}}}
<div>
</script>

<script id="html-self-driven-demo" type="text/x-handlebars-template">
  <div class="content">
    <img src="data/Self_Driven_Demo/Athena-4_Self_Driven_Demos.jpg" />
  <div>
</script>

<script id="html-quiet-mode" type="text/x-handlebars-template">
<div class="content">
  <img src="data/Quiet_Mode/athena-story-ipad-sit.jpg" />
<div>
</script>

<script id="video-template" type="text/x-handlebars-template">
  <div class="content">
    <video poster="\{{placeholder}}" id="player-\{{videoPlayerID}}" class="video-js vjs-default-skin"
        controls preload="auto" width="600" height="450"
        data-setup='{"example_option":true, "controls": false}'>
    </video>
  </div>
</script>
